@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

}

/*  BARRA DE NAVEGACIÓN */
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(10, 9, 9);
}

nav ul li a{
    margin-left: 50px;
    color: black;

}

nav ul li a:hover{
    color: red;
}

i {
    font-family: fontawesome;
    }
    
    .navbar-brand {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: rgb(216, 15, 15) !important;
        
    }

    header{
        background: radial-gradient(#fff,#e6e037);
        height: 150px;
    
    }


    #Sb-logo{
        width: 15%;
    }
    
    .menu-icon{
        width: 28px;
        margin-left: 20px;
        display: none;
    }
    
    
    
    @media only screen and (max-width:700px){
    
     nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: rgb(200, 194, 198);
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
            
        }
        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 2px;
            margin-bottom: 2px;
            height: 100%;
        }
        nav ul li a {
            color: #090808;
            font-size: 12px;
        }
    
        .menu-icon{
            display: block;
            cursor: pointer;
        }
    
    }
    
    /*  PAGINA BIENVENIDOS */
    
    .site-content-bienvenida{
        background-image: url(/MisImg/foto2-2.png);
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
    
    }
    .site-title-b {
        margin-top: 10%;
        margin-bottom: 6%;
        font-size: 60px;
        color:rgb(235, 14, 14) ;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    
    }
    
    
    .site-desc-b {
        font-size: 25px;
        padding-left: 1%;
        color:rgb(12, 11, 11) ;
        text-transform: uppercase;
    
    }
    
    #boton{
        margin-left: 250px;
        border-radius: 10%;
        margin-bottom: 200px;
    }
    #boton:hover{
        background: var(--sky);
        color:#080707
    }
    .social i {
        color: rgb(47, 45, 45);
        font-size: 35px;
    }
    
    .social i:hover {
    color: red;
    
    }
    
    
    @media screen and (max-width: 700px) {
        #boton {
            margin-left: 10px;
            width: 121px; /* Ajusta el valor de width según tus necesidades */
            text-align: center; /* Alinear el texto del botón al centro */
        }
    
        .site-title-b {
            margin-top: 30%;
            margin-bottom: 6%;
            font-size: 40px;
            margin-left: 200px;
           
        }
    
        .site-desc-b {
            font-size: 15px;
           
            margin-left: 100px;
        }
        .social i {
            color: rgb(47, 45, 45);
            font-size: 20px;
            margin-left: 10px; 
    
        }
    }
    @media screen and (max-width: 390px) {
       
        #boton {
           display: none;
        }
    
        .site-title-b {
            margin-top: 30%;
            margin-bottom: 6%;
            font-size: 30px;
            margin-left: 70px;
        }
    
    
        .site-desc-b {
            font-size: 10px;
            margin-left: 70px;
            color: #fff;
        }
    
        .social i {
            color: rgb(47, 45, 45);
            font-size: 20px;
            width: 20px;
        }
        

    }


    
    /* SECCIÓN UNO :  PRESENTACIÓN */
    
    .section-1 .heading-1 {
        margin-top: 7%;
        color:rgb(216, 15, 15) ;
    
    }
    .text-1{
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    .section-1 .para-1 {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;
    }
    .section-1 .card-text,
    .para-1 {
        color: rgb(16, 14, 14);
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
    }
    
    
    .section-1 {
        margin-bottom: 8%;
    }
    
    .card {
        width: 20rem;
    }
    
    button {
        cursor: pointer;
        transition:  all 0.3s ease 0s;
    }
    
    button:hover {
        transform: scale(1.02);
    }
    
    /*  VIDEOS GALERIA TRABAJOS  */

    .content__section {
        grid-area: content__section;
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-areas: 
        ". playlist__one .";
        margin-bottom: 60px;
        background-color: #fff;
        padding-top: 60px;
    
    
    }
    
    .playlist__one {
        grid-area: playlist__one;
    }
    
    .playlist__title {
        margin: 30px 0;
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        color: red;
    
    }
    
    .videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    .video {
        height: 50vh;
        grid-column-start: span 1;

        position: relative;
        transition:  all 0.3s ease 0s;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .video:hover {
        transform: scale(1.02);
    }
    
    .video i {
        cursor: pointer;
        font-size: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #f4f4f4;
        opacity: 0.85;
        transition:  all 0.3s ease 0s;
    }
    
    .video i:hover {
        opacity: 1;

    }
    
    @media only screen and (max-width: 1200px) {
        .video {
            grid-column-start: span 6;
            height: 240px;
        }
    
    }

    @media screen and (max-width: 700px) {
        .section-1 .card {
            width: 100%;
        }
    }

    
    @media only screen and (max-width: 800px) {
        .video {
            grid-column-start: span 12;
        }
    }
    @media (max-width:791px){
        
    .creations__grid{
        margin-bottom: 600px;
    }
    
    }


    /* FORMACIÓN  */
    
    .text-sandra{
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    
    .course{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    h1{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        color: #777;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    .course-col{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    .course-col:hover{
        box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.2);
    
    }
    
    #boton-cv:hover{
        background: rgb(216, 15, 15);
        color:#fff
    }
    #boton-cv{
        border-radius: 10%;
    
    }
    
    @media(max-width:700px){
        .row{
            flex-direction: column;
        }
    }
    
    /* PERFIL AMAZON BOOKS */
    
    
    .section-2 .container-fluid {
        background-image: url(/MisImg/background1.png);
        background-size: cover;
        background-attachment: fixed;
        
    
    }
    
    .section-2 .heading-1 {
        margin-top: 20%;
        margin-bottom: 4%;
        font-family: 'Poppins', sans-serif;
        width: 80%;
        color: whitesmoke;
    }
    
    .section-2 .para {
        width: 80%;
        font-family: 'Poppins', sans-serif;
        color: whitesmoke;
        margin-bottom: 7%;
    
    }
    
    .section-2 .btn {
        margin-bottom: 15%;
        width: 30%;
        padding: 2% 5%;
    
    }
    
    #boton-show{
        background:#fff;
        color: black;
        border: none;
        padding: 10px 10px;
    
    }
    #boton-show:hover{
        background: var(--sky);
        color:#080707
    }
    
    @media(max-width:700px){
    
        .section-2 .container-fluid {
            background-image: url(/MisImg/background1-movil.png);
            background-size: cover;
            background-attachment: fixed;
            
        
        }
        #boton-show{
            background:#fff;
            color: black;
            border: none;
            width: 120px;
        }
        #banner-mi{
            width: 90%;
        }
    }
    
    /* SERVICIOS IMAGENES GRID */
    .section-4 {
        margin-top: 8%;
    
    
    }
    
    .section-4 a {
        color: rgb(216, 15, 15);
        font-size: 40px;
        text-decoration: none;
    }
    
    .section-4 .para-1 {
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 7%;
        font-size: 23px;
    }
    
    #categorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); /* Cambiar a 1fr para ocupar el espacio disponible */
        grid-gap: 10px;
        transition: filter 0.3s ease; /* Agrega una transición para suavizar el efecto */

        
    }

  #categorias img:hover{
    filter:grayscale(7)

      }
      
    
    @media screen and (max-width: 700px) {
        
        .section-4 .col-md-7 img{
            width: 100%;
        }
    }
    
    /* FOOTER  */
    
    .social i {
        color: rgb(47, 45, 45);
        font-size: 35px;
    }
    
    .social i:hover {
    color: red;
    
    }
    .fa-heart-o{
        color: red;
    
    }
    footer h5{
        background: radial-gradient(#fff,#e6e037);
        height: 100px;
        padding: 40px;
    }
    #contactame{
        text-transform: uppercase;
    
      }
    
    @media screen and (max-width: 700px) {
    
        footer h5{
            font-size: 14px;
        }
    
        .social i {
            color: rgb(47, 45, 45);
            font-size: 20px;
            margin-left: 10px;
    
        }
    
    }


/*  POSTPRODUCCIÓN PAGE */
/* BIENVENIDA POST POSTPO */

#boton-2{
    margin-left: 360px;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 220px;
}
#boton-2:hover{
    background:var(--sky);
    color:#050505
}


.site-content {
    background-image: url(/MisImg/foto1.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.site-title {
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 50px;
    color:rgb(216, 15, 15) ;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}


.site-desc {
    font-size: 20px;
    padding-left: 15%;
    color: rgb(16, 14, 14);
    text-transform: uppercase;
    margin-top: -50px;

}

@media screen and (max-width: 700px) {
    #boton-2 {
        margin-left: 160px;
        width: 121px; /* Ajusta el valor de width según tus necesidades */
        text-align: center; /* Alinear el texto del botón al centro */
    }

    .site-title {
        margin-top: 30%;
        margin-bottom: 6%;
        font-size: 40px;
        margin-left: 100px;
       
    }

    .site-desc{
        font-size: 18px;
        margin-left: 100px;
        color: #fff;
        padding: 10px;
        margin-top: 1px;
    }
    .movil-social i{
        color: #fff;
    }
    
}

@media screen and (max-width: 390px) {
    .section-1 .card {
        width: 100%;
    }

    

    #boton-2 {
        margin-left: 10px;
        width: 4px 4px 4px;
    }

    .site-title {
        margin-top: 30%;
        margin-bottom: 6%;
        font-size: 50px;
        margin-left: 0px;
    }

  
    .site-desc{
        font-size: 20px;
        margin-left: 0px;
        
    }

     
}

/* IMAGENES SKILLS */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
bottom: 49%;
opacity: 1;
}


/*  GALERIA DE VIDEOS */


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.galeria {
    height: 30vh;
    grid-column-start: span 1;

    position: relative;
    transition:  all 0.3s ease 0s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.galeria:hover {
    transform: scale(1.02);
}

.galeria i {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
    opacity: 0.85;
    transition:  all 0.3s ease 0s;
}

.galeria i:hover {
    opacity: 1;
    color: red;

}


@media only screen and (max-width: 1200px) {
    .galeria {
        grid-column-start: span 6;
        height: 240px;
    }

}

@media screen and (max-width: 700px) {
    .section-1 .card {
        width: 100%;
    }
}


@media only screen and (max-width: 800px) {
    .galeria{
        grid-column-start: span 12;
    }
}
@media (max-width:791px){
    
.creations__grid{
    margin-bottom: 600px;
}

}

   
/* PÁGINA EVENTOS */

/* --------------- Site title ---------------- */
main .site-title2{
    background: url('/MisImg/fondo-eventos.png');
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

main .site-title2 .site-background{
    padding-top: 2rem;
    text-align: center;
    color: rgb(15, 14, 14);
    text-transform: uppercase;
}

main .site-title2 h1, h3{
    margin: .3rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

}


.site-title-c {
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 70px;
    color:rgb(235, 14, 14) ;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

main .site-title2 .btn{
    margin: 1.8rem;
    background: #eee;

}



main .site-title2 .btn:hover{
    border: 1px solid rgb(246, 238, 238);
    color: rgb(20, 18, 18);
    background: var(--sky);
}



@media screen and (max-width: 390px) {
       


    .site-title-c {
        margin-top: 30%;
        margin-bottom: 6%;
        font-size: 40px;
        margin-left: 0px;
    }
    main .site-title2 .site-background{
        padding-top: 4rem;
        text-align: center;
        color: rgb(247, 242, 242);
        text-transform: uppercase;
    }

}

/* --------x------ Site title --------x------- */


/* --------------- Blog Carousel ------------ */



:root{

    /*      Theme colors        */
 
    --midnight: #c11e1e;


    /* gradient color   */
    --sky: linear-gradient(120deg, #f98383 0%, #f9a2a2 100%);

   
}



main .blog {
    height: 100vh;
    width: 100%;
}

main .blog .blog-post {
    padding-top: 6rem;
}

main .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 2rem auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -15px 20px rgba(0, 0, 0, 0.2); /* Utilizar inset para aplicar la sombra en la parte inferior */

    gap: 2rem;
}



    main .blog-content .blog-title {
    padding: 2rem 0;
    }
    main .blog-content .blog-title h3 {
        margin-top: -20px;
        font-size: 22px;
        }


    main .blog-content .btn-blog {
    padding: .7rem 2rem;
    background: #eeee;
    margin: .5rem;
    border-radius: 20%;
    }
    main .blog-content .btn-blog:hover {
        background: var(--sky);
    }
    

    
    main .blog-content span {
    display: block;
    }
    
    section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
    }

    
.flecha{
    color: black;
    font-size: 30px;
}
i {
    padding: 10px;
}

span .flecha:hover{
    background: var(--sky);
}



/* -------x------- Blog Carousel -----x------ */


/* ---------------- Site Content ----------------*/
.container-blog{
    margin-top: -150px;
}

.posts{
margin-left: 150px;

}
.main2 .site-content-blog{
    display: grid;
    grid-template-columns: 70% 30%;
}

.main2 .post-content{
    width: 80%;
    
}

.main2 .site-content-blog .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

.main2 .site-content-blog .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

.main2 .site-content-blog .post-content > .post-image > div{
    overflow: hidden;
}

.main2 .site-content-blog .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

.main2 .site-content-blog .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

.main2 .site-content-blog .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

.main2 .post-content .post-title a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.site-content-blog .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: #eee;
}
.site-content-blog .post-content .post-title .post-btn:hover{
    background: var(--sky);
}


.site-content-blog .pagination{
    justify-content: left;
    color: black;
    margin: 4rem 0;
    margin-left: 20px;
}

.site-content-blog .pagination a{
    padding: .6rem .9rem;
    border-radius: 1rem;
    margin: 0 .3rem;
    font-family: 'Poppins', sans-serif;
    background: #eee;
    color: #100f0f;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.site-content-blog .pagination a:hover {
    background:var(--sky);
}

.site-content-blog .pagination .pages{
    padding: .9rem 1rem; /* Aumenta el ancho del botón numérico */
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: 'Poppins', sans-serif;
    background: #eee;
    color: #050505;
}

.site-content-blog .pagination .pages:hover{
    background:var(--sky);

}
#active{
    background:var(--sky);

}

 hr {
    width: 95%; /* Ajusta el valor para reducir o aumentar el ancho del hr */
    margin: 0 auto; /* Centra el hr horizontalmente */
    margin-top: 1rem; /* Añade margen superior para separar del contenido anterior */
    margin-bottom: 1rem; /* Añade margen inferior para separar del contenido siguiente */
    border: none; /* Elimina el borde del hr */
    border-top: 1px solid #ddd; /* Añade un borde superior de 1px sólido en color gris claro */
    margin-right: 60%;
}

@media screen and (max-width: 768px) {
    .site-content-blog .pagination .pages {
      padding: .5rem .5rem; /* Reduce el ancho del botón numérico */
      border-radius: 1rem;
      margin: 0 .1rem; /* Reduce el margen entre los botones */
      font-size: 0.8rem; /* Reduce el tamaño de la fuente */
    }
  }

/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */

.site-content-blog > .sidebar .category-list{
    font-family: 'Poppins', sans-serif;
}

.site-content-blog > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .6rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: -50px;

}

.site-content-blog > .sidebar .category-list .list-items a{
    color:  black;
}

.site-content-blog .sidebar .popular-post .post-content{
    padding: 1rem 0;
    margin-left: -50px;
}
.popular-post {
    margin-top: -80px;
}

.site-content-blog .sidebar .popular-post h2{
    padding-top: 8rem;
    margin-left: 30px;
}

.site-content-blog .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content-blog .sidebar .popular-post .post-title a{
    font-size: 1.5rem;
}

.site-content-blog .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content-blog .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content-blog .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content-blog .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content-blog .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content-blog .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}


/* -------x------- Sidebar -----------x----------- */


@media only screen and (max-width: 1130px){
    .site-content-blog .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content-blog .sidebar .popular-post .post-info{
        display: none !important;
    }

}

@media only screen and (max-width: 750px){
  

    .main2 .site-content-blog{
        grid-template-columns: 100%;

    }

    .main2 .site-title{
        height: 100%;
       
    }
    
}
@media only screen and (max-width: 520px){
    .main2 .blog{
        height: 125vh;
    }

    .site-content-blog .post-content > .post-image .post-info{
        display: none;
    }

    .main2 .post-content{
        width: 100%;
        
    }

    .posts{
        margin-left: 0px;
        
        }

        .site-content-blog .post-content .post-title .post-btn{
            border-radius: 0;
            padding: .4rem 1.5rem;
            background: var(--sky);
        }
        
     
        .site-content-blog > .sidebar .category-list .list-items{
            margin-left: 0px;
        
        }
        
        .site-content-blog .sidebar .popular-post .post-content{
            margin-left: 0px;
        }
      
 h2{
    margin-left: 30px;
    padding: 10px;
}
    }


/* Blog EVENTOS */


/* ---------------- Site Content- BLOG ----------------*/
/* --------------- Site title ---------------- */
main .site-title3{
    background: url('/MisImg/foto2.png');
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

main .site-title3 .site-background{
    padding-top: 2rem;
    text-align: center;
    color: rgb(15, 14, 14);
    text-transform: uppercase;
}

main .site-title3 h1, h3{
    margin: .3rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

}


.site-title-d {
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 70px;
    color:rgb(19, 14, 14) ;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

main .site-title3 .btn{
    margin: 1.8rem;
    background: #eee;

}



main .site-title3 .btn:hover{
    border: 1px solid rgb(246, 238, 238);
    color: rgb(20, 18, 18);
    background: var(--sky);
}



@media screen and (max-width: 390px) {
       


    .site-title-d {
        margin-top: 30%;
        margin-bottom: 6%;
        font-size: 40px;
        margin-left: 0px;
    }
    main .site-title3 .site-background{
        padding-top: 4rem;
        text-align: center;
        color: rgb(247, 242, 242);
        text-transform: uppercase;
    }

}

/*  */

.site-content-blog .sidebar .popular-post2 .post-content{
    padding: 1rem 0;
    margin-left: -50px;
}
.popular-post2 {
    margin-top: -10px;
}

.site-content-blog .sidebar .popular-post2 h2{
    padding-top: 8rem;
    margin-left: 30px;
    text-transform: uppercase;
}

.site-content-blog .sidebar .popular-post2 .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content-blog .sidebar .popular-post2 .post-title a{
    font-size: 1rem;
}



/*  */

.fotos-festival{
    width: 40vw;
    margin-left: 10px;
    margin-bottom: 20px;
}

.fotos-festival2{
    width: 40vw;
    margin-left: 10px;
    margin-bottom: 20px;
}

.videos-post{
    margin-left: 40px;
}
hr{
padding: 5px
}



@media screen and (max-width: 750px) {

    .fotos-festival{
        width: 100vw;
        margin-left: 0px;
    }
    .fotos-festival2{
        width: 85vw;
        margin: 0;
    }

    #gaby{
        width: 95vw;
        margin: 0; 
        margin-top: 20px;
    }


    .videos-post{
        margin-left: 0px;
    }
    iframe{
        width: 100vw
    } 
}

/* -------x-------- Site Content --------x-------*/

  
/* VIDEOBOOKS PAGE */


/* --------------- Site title ---------------- */
main .site-title4{
    background: url('https://cdn.pixabay.com/photo/2016/09/16/00/19/fall-1673041_1280.jpg');
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

main .site-title4 .site-background{
    padding-top: 2rem;
    text-align: center;
    color: rgb(15, 14, 14);
    text-transform: uppercase;
}

main .site-title4 h1, h3{
    margin: .3rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

}


.site-title-c {
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 70px;
    color:rgb(235, 14, 14) ;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

main .site-title4 .btn{
    margin: 1.8rem;
    background: #eee;

}



main .site-title4 .btn:hover{
    border: 1px solid rgb(246, 238, 238);
    color: rgb(20, 18, 18);
    background: var(--sky);
}



@media screen and (max-width: 390px) {
       


    .site-title-c {
        margin-top: 30%;
        margin-bottom: 6%;
        font-size: 40px;
        margin-left: 0px;
    }
    main .site-title4 .site-background{
        padding-top: 4rem;
        text-align: center;
        color: rgb(247, 242, 242);
        text-transform: uppercase;
    }

}

/* --------x------ Site title --------x------- */



.box-container{
    margin-bottom: 100px;
    padding: 20px;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    
    }
    .services .box-container{
      display: flex;
      flex-wrap: wrap;
      gap:1.5rem;
    }
    
    .services .box-container .box{
      flex:1 1 25rem;
      border-radius: .5rem;
      background:#fff;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      border:.1rem solid rgba(0,0,0,.2);
      text-align: center;
      padding:2rem;
    }
    
    .services .box-container .box h3{
      font-size: 2.5rem;
      color:#333;
    }
    
    .services .box-container .box p{
      font-size: 18px;
      color:#666;
      padding:.5rem 0;
      line-height: 2;
    }
    
    /*  */
    
    .heading-services{
      text-align: center;
      color:#333;
      font-size: 4rem;
      padding-bottom: 3rem;
    }
    
    .heading-services span{
      color:var(--red);
      background:var(--light-red);
      border-radius: .5rem;
      padding:.2rem 1.5rem;
    }
  



/* guiones portadas */
.guiones-text{
    text-align: center;
}
.portadas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); /* Cambiar a 1fr para ocupar el espacio disponible */
    grid-gap: 5px;
    transition: filter 0.3s ease; /* Agrega una transición para suavizar el efecto */
    justify-items: center; /* Agrega para centrar horizontalmente las imágenes */
    margin-left: 20px; /* Agrega para mover el margen izquierdo */
    padding: 80px;
    margin-bottom: -100px;
}

.portadas a {
    display: block;
    position: relative;
}

.portadas img {
    display: block;
    max-width: 100%;
    height: auto;
}
.portadas a:hover img {
    transform: scale(1.1); /* Agrega escala para agrandar la imagen */
}



.portadas a:hover::before {
    opacity: 1;
}

@media (max-width: 750px) {
    .portadas {
      grid-template-columns: 1fr;
      margin-left: 0;
      justify-items: center;
      margin-bottom: -100px;
    }
    .portadas a {
      width: 100%;
      margin: 0 auto 10px;
    }
    .portadas img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
    .portadas a:hover img {
      transform: scale(1.1);
    }
    .portadas a::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: opacity 0.3s ease;
    }
    .portadas a:hover::before {
      opacity: 1;
    }
  }
  















/* CONTACTO PAGE */


.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom:5px;
    color: #555;
    font-weight: 400;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px ;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form{
    width: 50%;
    height: 600px;
    margin: 0 auto;
}



/*  RESPONSIVO PAGINAS */

@media screen and (max-width: 390px) {
    .section-1 .card {
        width: 100%;
    }

    .section-4 .col-md-7 img {
        width: 100%;
    }

   

    footer h5 {
        font-size: 14px;
    }

   

    .section-2 .container-fluid {
        background-image: url(/MisImg/background1-movil.png);
        background-size: cover;
        background-attachment: fixed;
    }

    #boton-show {
        background: #fff;
        color: black;
        border: none;
        padding: 10px 10px;
    }

    #banner-mi {
        width: 90%;
    }
}



@media screen and (max-width: 320px) {
    .site-content .site-title  {
        font-size: 30px;
        padding-left: 15%;
    }
    
    
    .site-content .site-btn2 {
        display: none;
    }
    
    .site-content .site-btn1 {
        margin-left: 15%;
    }
    
    .section-1 .heading-1,
    .section-1 .heading-2 {
        font-size: 25px;
    }
    
    .section-1 .col-md-4 {
        padding: 5%;
        margin-left: 8%;
    }
    
    .section-1 .card {
        width: 15rem;
    }
    
    .section-4 .col-md-5 {
        padding: 0% 15%;
    }
    
    footer input[type="button"] {
        margin-top: 5%;
    }


    
}


















