@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

:root {
    --accent: #e63946;
    --dark: #17191D;
    --light: #f4f4f4;
    --overlay: rgba(23,25,29,0.8);
    --ease: all 0.3s ease 0s;
    --green:#f03514;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
   
    background: var(--light)
}

/* BARRA DE NAVEGACION */




*{
    font-family: 'Source Sans Pro', sans-serif;   
     margin:0; 
     padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

#logo-smile{
    height: 60px;
    margin-left: 40px;}



header{
    position: fixed;
    top:0; left: 0; right:0;
    background: linear-gradient(var(--light),var(--accent));
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    height: 15vh;
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

   

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }


#logo-smile{
    height: 45px;
    margin-left: 40px;}
}
    
/* footer */

* Footer */

.container{
    margin:auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #0b0b0b;
    padding: 70px 0;
    width: 100vw;

}
.footer-col{
   width: 25%;
   padding: 0 30px;
   margin: 10px auto;

}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 29px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:var(--light);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #181313;
    transition: all 0.5s ease;
    font-size: 15px;
}
.footer-col  .social-links a:hover{
    background: var(--accent);
    color: var(--light);
}
.social-links i{
    width: 100%;
}


.uno{
    margin-left: 90px;
}

.dos{
    margin-left: -90px;
}

.tres{
    margin-left: -90px;
}

.foto-footer{
    width: 100%;
}
.foto-footer2{
    width: 100%;
}

.sandra{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 13px;
    margin: 0 auto;
}

 /*responsive*/
 @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  .uno{
    margin-left: 0px;
}

.dos{
    margin-left: 0px;
}

.tres{
    margin-left: 0px;
}
  
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  .fondo_video{
    position: relative;
}
  }


button {
    cursor: pointer;
    transition:  all 0.3s ease 0s;
}

button:hover {
    transform: scale(1.02);
}


.content__section {
    grid-area: content__section;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". playlist__one .";
    margin-bottom: 60px;
    background-color: var(--white);
    padding-top: 60px;
    margin-top: 100px;


}

.playlist__one {
    grid-area: playlist__one;
    padding: 50px;
    margin-top: 50px;

}


.playlist__title {
    margin: 30px 0;
    font-family: var(--titles);
    color: #e63946;


}
 

.videos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.video {
    height: 300px;
    grid-column-start: span 3;
    position: relative;
    transition:  all 0.3s ease 0s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video:hover {
    transform: scale(1.02);
}

.video i {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
    opacity: 0.85;
    transition:  all 0.3s ease 0s;
}

.video i:hover {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .video {
        grid-column-start: span 6;
        height: 240px;
    }

}

@media only screen and (max-width: 800px) {
    .video {
        grid-column-start: span 12;
    }
}
@media (max-width:791px){
    
.creations__grid{
    margin-bottom: 600px;
}
.video {
    height: 180px;
    width: 100%;

}
}